.accountSettingsAction {
  border-radius: 0;
}
.accountSettingsAction:not(:last-child) {
  border-bottom: 0;
}
.accountSettingsAction .ant-card-body {
  padding: 14px 20px;
}
.accountSettingsAction .accountSettingsActionTxt strong {
  font-size: 16px;
  font-weight: 500;
  color: #000;
}
.accountSettingsAction .accountSettingsActionTxt span {
  font-size: 13px;
  color: #7f7f7f;
}
.accountSettingsAction .accountSettingsActionIcon {
  font-size: 30px;
  color: #2b2b2b;
}
