.ant-tag.liveTag {
  margin-right: 0 !important;
  padding: 4px 10px 4px 7px;
  border-radius: 13px;
  border-color: #ffb0b0;
  background: #ffe5e5;
  height: 22px;
  line-height: 1;
}
.ant-tag.liveTag span {
  font-size: 12px;
  margin: 0;
}
.ant-tag.liveTag span.status {
  width: 10px;
  height: 10px;
  background: #ffe5e5;
  border-radius: 50%;
}
.ant-tag.liveTag span.status.scheduled {
  background-color: #a69f9f;
}
.ant-tag.liveTag span.status.live {
  background: #ff0000;
}
.ant-tag.liveTag span.scheduledTxt {
  color: #454545;
}
.ant-tag.liveTag span.liveTxt {
  color: #ff0000;
}
