.myInvoiceTable table tbody tr td:first-child {
  word-break: break-word;
  min-width: 230px;
}
@media (max-width: 767px) {
  .myInvoice_blk .ant-upload-list-picture-card .ant-upload-list-item,
  .myInvoice_blk .ant-upload-list-picture-card-container {
    width: 90px;
    height: 90px;
  }
}
.myInvoiceTable .ant-table {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.resumeUploader .ant-upload-select {
  border: 1px dashed #2b2b2b66;
  width: 100%;
  background-color: #fff;
}
.resumeUploader .ant-upload-select .custIcon {
  color: #2b2b2b66;
  line-height: 100%;
  font-size: 3.4rem;
}
.resumeUploader .ant-upload-select .ant-upload-text {
  font-size: 0.85rem;
  color: #2b2b2b66;
  font-weight: 700;
}
