.verificationPage {
  min-height: 100vh;
  background-color: #f5f5f5;
}
.verificationPage .invitationLogo {
  margin-top: 10px;
  height: 50px;
  text-align: center;
}
.verificationPage .invitationLogo img {
  max-width: 100%;
  max-height: 100%;
}
.verificationPage .invitationCard {
  margin-top: 10px;
  border-radius: 15px;
  border: 0;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 6px 6px 9px -4px rgba(0, 0, 0, 0.15);
}
.verificationPage .invitationCard .invitation_title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
}
.verificationPage .invitationCard .form-title {
  font-size: 16px;
  font-weight: 600;
}
.verificationPage .invitationCard .ant-form label {
  font-weight: 600;
}
.verificationPage .invitationCard .ant-form-item .ant-input {
  height: 40px;
  padding-left: 20px;
  text-transform: capitalize;
}
.verificationPage .invitationCard .ant-form-item .ant-btn {
  padding: 8px 45px;
  height: auto;
  margin-top: 10px;
}
.verificationPage .invitationCard .thankyou_message {
  min-height: 60vh;
  margin-top: 100px;
}
.verificationPage .invitationCard .thankyou_message .checkout {
  height: 100px;
  width: 100px;
  color: #fff;
  font-size: 38px;
  vertical-align: middle;
  padding: 20px;
  border-radius: 50%;
  display: inline-block;
}
